* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(201, 223, 241);
}

header {
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

main {
    padding-top: 7rem;
}

#navbar {
    background-color: rgb(162, 170, 162);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navlink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;

}


.logo {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 6rem;
}


#row {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    margin: 1rem;
    text-align: center;
}

.item1 {
    flex: 30px;
    background-color: lightgreen;
    padding: .5rem;

}

.item2 {
    flex: 70%;
    padding: 20px;
    background-color: rgb(130, 211, 161);
}

.item1 {
    order: 2;
}
.servicios {
    padding: 3rem 5rem;
    background-color: rgb(128, 219, 223);
}

footer {
    height: 10rem;
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 184, 89);
    font-size: small;
}

h1{
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Lora', serif;
}

h2{
    color: black;
    text-align: center;
    font-family: 'Lora', serif;
}

h3{
    color: black;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 35px;
}

label{
    font-size: 20px;
    text-align: center;
    text-decoration: solid;
}
input{
    font-size: 15px;
    text-align: center;
    text-decoration: solid;
}

input[type="text"], input[type="number"],  input[type="email"], input[type="password"], input[type="date"],
input[type="comntario"],input [type="radio"]  input[type="checbox"] input[type=submit] input[type=reset] input[type=textArea] {
    width: 70%;
    text-align: center;
    padding: 1vw;
    display: inline-block;
    border: 1vw;
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(14, 14, 15);
}
textarea{
    width: 60%;
}
#formulario{
    border-radius: 5px;
    padding: 2%;
    margin:1% 20%;
}
#mapa{
    border-radius: 5px;
    padding: 2%;
    margin:1% 20%;
}
tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

/*BREAKPOINT CELULARES */
@media screen and (max-width: 375px) {
    main {
        width: 190%;
    }

    .animacion {
        height: 400px;
        width: 850px;
        margin: 1rem;
    }

    header {
        margin: 0;
        width: 88%;
    }

    #navbar {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    h1 {
        text-indent: 5.5rem;
    }

    .navlink {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    footer {
        width: 226%;
        margin-left: 1rem;
    }
}


/*BREAKPOINT TABLETAS*/
@media screen and (max-width: 768px) {
    #navbar {
        background-color: rgb(158, 158, 161);
    }

    header {
        margin: 0;
        width: 88%;
    }


}

/*BREAKPOINT LAPTOP*/
@media screen and (min-width: 1024px) {
    #row {
        background-color: blanchedalmond;
    }
}
