* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(201, 223, 241);
}

header {
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

#navbar {
    background-color: rgb(162, 170, 162);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlink {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 6rem;
}

main {
    padding-top: 9rem;
}

#row {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    margin: 1rem;
    text-align: center;
}

.item1 {
    flex: 30px;
    background-color: lightgreen;
    padding: .5rem;

}

.item2 {
    flex: 70%;
    padding: 20px;
    background-color: rgb(130, 211, 161);
}

.item1 {
    order: 2;
}

.item3 {
    margin: 1rem;
}

article {
    margin: 2rem;
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    font-family: 'Lora', serif;
}

h2 {
    color: black;
    text-align: center;
    font-family: 'Lora', serif;
}

h3 {
    color: black;
    text-align: center;
    font-family: 'Lora', serif;
}

/* weather api */
.container {
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
    height: 8rem;
    width: 9rem;
    background-color: rgb(152, 228, 165);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid rgb(14, 43, 1);
}

.container2 {
    margin: 40px;
    padding: 0;
    box-sizing: border-box;
    height: 8rem;
    width: 9rem;
    background-color: rgb(152, 228, 165);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    border: 2px solid rgb(14, 43, 1);
}

.servicios {
    padding: 3rem 5rem;
    background-color: rgb(128, 219, 223);
}

.parrafo {
    text-align: center;
    margin: 1rem;
}

.destinos {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.contenedor4, .contenedor5 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.paquetes {
    margin: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

img {
    height: 17rem;
    width: 24rem;
    margin: 0.5rem;
    border-radius: 10%;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    text-shadow: 7px 8px 6px blue;
    background-color: transparent;
}

footer {
    height: 11rem;
    padding: 20px;
    text-align: center;
    background-color: rgb(228, 184, 89);
    font-size: small;
}

/*BREAKPOINT CELULARES */
@media screen and (max-width: 375px) {
    body {
        width: 100;
    }

    header {
        margin: 0;
    }

    #navbar {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    h1 {
        text-indent: 5.5rem;
    }

    .navlink {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #row {
        margin-top: 0;
        width: 125%;
    }

    .item3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .servicios {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 0 0 48px;
    }

    .destinos {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .paquetes {
        flex-direction: column;
        flex-wrap: wrap;
    }

    img {
        height: 14rem;
        width: 17rem;
    }

    footer {
        width: 135%;
        margin-left: 1rem;
    }
}


/*BREAKPOINT TABLETAS*/
@media screen and (max-width: 768px) {
    header {
        width: 100%;
        margin: 0 ;
    }

    #navbar {
        margin-left: .3rem;
        width: 94.5%;
    }

    #row {
        flex-direction: row;
        margin-top: 0;
    }

    .servicios {
        width: 87.5%;
        margin-left:3rem;
    }

    .item3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .destinos {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .paquetes {
        flex-direction: column;
        flex-wrap: wrap;
    }

    img {
        height: 25rem;
        width: 30rem;
    }
}

/*BREAKPOINT LAPTOP*/
@media screen and (min-width: 1024px) {
    #row {
        background-color: blanchedalmond;
    }

    img {
        height: 13rem;
        width: 15rem;
    }

}